<!-- Add this inside <head> of your HTML -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
/>

<footer class="bg-dark text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img
          src="/assets/images/logoMI.png"
          alt="Logo MI"
          width="60"
          class="mb-2"
        />
        <p>
          MI Miftahul Ulum Ngingit - Tumpang - Malang. Menjadi lembaga
          pendidikan unggulan yang membentuk generasi berilmu, berakhlak, dan
          berprestasi.
        </p>
      </div>
      <div class="col-md-4">
        <h5>Informasi Sekolah</h5>
        <ul class="list-unstyled">
          <li>Alamat: Desa Ngingit, Kec. Tumpang, Malang</li>
          <li>Email: info@miftahululum.sch.id</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Media Sosial</h5>
        <a href="#" class="text-light me-3">
          <i class="bi bi-facebook"></i> Facebook </a
        ><br />
        <a href="#" class="text-light me-3">
          <i class="bi bi-instagram"></i> Instagram </a
        ><br />
        <a href="#" class="text-light">
          <i class="bi bi-youtube"></i> YouTube
        </a>
      </div>
    </div>
    <div class="text-center mt-3">
      <small>&copy; 2025 MI Miftahul Ulum. All rights reserved.</small>
    </div>
  </div>
</footer>
